.ContainerImg {
    margin: 0 50px 30px 50px;
    border-radius: 25px;
    height: 223px;
    background-color: #000;
}

.AboutImg {
    border-radius: 25px;
    height: 223px;
    background-position: center;
    background-size: cover;
    opacity: 0,6;
}

@media screen and (max-width: 768px) {
    .ContainerImg {
        margin: 0 20px 30px 20px;
    }
}