.ContainerTextBanner {
    margin: 0 50px 30px 50px;
}

.ContainerGallery {
    margin: 43px 50px;
    border-radius: 25px;
    background-color: #F6F6F6;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .ContainerTextBanner {
        margin: 0 20px 10px 20px;
    }

    .ContainerGallery {
        background-color: #fff;
    }
}