.ConainerBanner {
    margin: 0 50px;
    border-radius: 25px;
    height: 223px;
    background-color: #000;
    color: #fff;
}

.ContainerGallery {
    margin: 43px 50px;
    border-radius: 25px;
    background-color: #F6F6F6;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .ContainerGallery {
        background-color: #fff;
    }
}